.xemthem{
    position: absolute;
    z-index: 1;
    top: -76px;
    right: 20px;
    background: #e8b35f;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.xemthem_giamgia{
    position: absolute;
    z-index: 1;
    top: -76px;
    right: 143px;
    background: #e8b35f;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.xemthem_muanhieu{
    position: absolute;
    z-index: 1;
    top: -76px;right: 20px;
    background: #e8b35f;
    color: white;padding: 5px;
    border-radius: 5px;
}
@media (max-width: 991px){
    .xemthem, .xemthem_giamgia, .xemthem_muanhieu{
        position: absolute;
        z-index: 1;
        top: -36px;
        right: 50px;
        background: #d0cdcd;
        color: black;
        padding: 5px;
        border-radius: 5px;
        opacity: 0.5;
    }
    .noidung{
        margin: 0;
    }
}